.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #000;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-card {
  max-width: 250px;
  padding: 20px;
  text-align: center;
}

mat-card {
  margin: 15px auto;
}

h4, h2, p {
  text-align: center;
  padding: 1em;
}
